@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Olá Mundo</h1>
    <h2>Esta é a minha primeira página usando .Net</h2>
    <p>@DateTime.Now</p>
</div>
